* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 22px;
    font-family: Helvetica, sans-serif;
    opacity: 0.9;
}

body {
    background-color: black;
    line-height: 2rem;
}

/* Header */
header {
    background-color: black;
    color: seashell;
    height: 69px;
    padding: 10px;
    width: 100%;
    position: fixed;
    border-bottom: 1px solid seashell;
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    justify-content: space-between;
}

header img {
    height: 50px;
    flex: none 1 1;
}

header #header-space {
    flex: none 6 0;
}

header nav {
    flex: none 2 1;
}

header nav a {
    color: seashell;
    margin: 10px;
}

/* Main */
#mission {
    width: 1200px;
    height: 700px;
    background-image: url("../images/img-mission-background.jpg");
    margin: 0 auto 50px auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding-top: 69px;
}

#mission-statement {
    background-color: black;
    width: 100%;
    color: seashell;
    text-align: center;
    padding: 20px;
}

/* Featured Teas */
#featured-tea {
    width: 1000px;
    text-align: center;
    color: seashell;
    margin: 0 auto 50px auto;
}

#tea-types {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    line-height: 1rem;
}

.tea img {
    height: 200px;
    width: 300px;
    margin: 10px 15px;
}

/* Locations */
#locations {
    width: 1200px;
    height: 500px;
    background-image: url("../images/img-locations-background.jpg");
    background-repeat: no-repeat;
    color: seashell;
    text-align: center;
    margin: 0 auto 10px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#location-cards {
    display: flex;
    justify-content: space-between;
    width: 980px;
    margin: auto;
}

.card {
    width: 300px;
    background-color: black;
    opacity: 1;
    margin: 15px;
    padding: 20px;
    line-height: 2.2rem;
}

/* Footer */
footer {
    color: seashell;
    opacity: 0.9;
}

#contact {
    height: 200px;
    text-align: center;
    line-height: 3rem;
}

#copyright {
    text-align: left;
    margin: 20px;
    line-height: 2rem;
}